button,
a {
    outline: none ;
}

.h-btn {
  padding:0.5rem 0.9rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.25rem;
  box-sizing: border-box;
  &-primary {

  }
  &-grey {
    background-color: $color-grey-light-1;
    border:1px solid $color-border-form ;
    color: $color-text-primary;
    @include btn-transition;
    &:hover{
      color: $color-white;
      background-color:$color-navy;
      border:1px solid $color-navy;
    }
  }
  &-outline {
    border:1px solid $color-border-form ;
  }
  &-xs {
    padding:0.4rem 0.7rem;
    font-size: 0.75rem;
  }
  &-small {

  }
  &-medium {

  }
  &-large {

  }
}

@include mobile {
  .h-btn {
    font-size: 1.2rem;
  }
}