.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}

.fixed {
  position: fixed;
  top: 30px;
  bottom: 40px;
}

/*
@include ellipsis;
@include ellipsis(n);
*/